<app-profile-tab-menu [routes]="routes" [tabName]="rota">
</app-profile-tab-menu>

<div class="container">
  <div class="card">
    <form action="">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Weight</mat-label>
        <input matInput placeholder="insert you street" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Height</mat-label>
        <input matInput placeholder="insert you complement" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Chest</mat-label>
        <input matInput placeholder="insert you city" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Waist</mat-label>
        <input matInput placeholder="insert you state" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Biceps</mat-label>
        <input matInput placeholder="insert you zip code" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Forearm</mat-label>
        <input matInput placeholder="insert you zip code" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Thigh</mat-label>
        <input matInput placeholder="insert you zip code" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Calf</mat-label>
        <input matInput placeholder="insert you zip code" required />
      </mat-form-field>
      <div class="buttons">
        <button type="submit" mat-raised-button color="primary">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
