$grad-start: rgba(208, 188, 255, 0.14);
$grad-end: rgba(208, 188, 255, 0.14);
$bg-color: #1c1b1f;

.container {
  width: 120px;
  height: 120px;
  background: linear-gradient(0deg, $grad-start, $grad-end), $bg-color;
  border-radius: 15px;

  .container_bttn {
    display: none;
  }
  label {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .upload__image {
      color: #938f99;
      font-size: 2em;
    }
  }
}
