.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    background-color: #1b1b1b;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    .card-logo {
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .divisor-horizontal {
        width: 80%;
        color: #fff;
        border-bottom: 1px solid #ccc;
      }
      img {
        padding: 2rem;
      }
    }
    form {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 1rem;

      .input-field {
        width: 80%;
      }
      section {
        width: 80%;
        padding-bottom: 1rem;
      }
      button {
        width: 80%;
        color: #fff;
      }
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      a {
        padding: 0.4rem;
        text-decoration: none;
        color: #c4c4c4;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    form {
      width: 60%;
    }
  }
}
