@use '@angular/material' as mat;
@import "@angular/material/theming";
@include mat-core();


$my-dark-theme-typography: mat.define-typography-config(
  $headline-1: mat.define-typography-level(7rem, 7rem, 300),
  $headline-2: mat.define-typography-level(3.5rem, 3.5rem, 400),
  $headline-3: mat.define-typography-level(2.8125rem, 3rem, 400),
  $headline-4: mat.define-typography-level(2.125rem, 2.5rem, 400),
  $headline-5: mat.define-typography-level(1.5rem, 2rem, 400),
  $headline-6: mat.define-typography-level(1.25rem, 2rem, 500),
  $subtitle-1: mat.define-typography-level(1rem, 1.75rem, 400),
  $subtitle-2: mat.define-typography-level(0.9375rem, 1.5rem, 400),
  $body-1: mat.define-typography-level(0.875rem, 1.5rem, 500),
  $body-2: mat.define-typography-level(0.875rem, 1.25rem, 400),
  $caption: mat.define-typography-level(0.75rem, 1.25rem, 400),
  $button: mat.define-typography-level(0.875rem, 0.875rem, 500)
);


$primary-sport-palette: (
  50: #f2f0ff,
  100: #c5cae9,
  200: #c7bdff,
  300: #fdd835,
  400: #9a8aff,
  500: #f57f17,
  600: #f9a825,
  700: #6c56e6,
  800: #fbc02d,
  900: #f57f17,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
  ),
);

$secondary-sport-palette: (
  50: #e0f2f1,
  100: #b2dfdb,
  200: #80cbc4,
  300: #4db6ac,
  400: #26a69a,
  500: #009688,
  600: #00897b,
  700: #00796b,
  800: #00695c,
  900: #004d40,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$error-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);


$md-dark-theme-text: #FFFFFF;
$md-dark-theme-background: #121212;
$md-dark-theme-surface: #1E1E1E;
$md-dark-theme-on-primary: #FFFFFF;
$md-dark-theme-on-secondary: #000000;
$md-dark-theme-on-background: #FFFFFF;
$md-dark-theme-on-surface: #FFFFFF;

$my-primary: mat.define-palette($primary-sport-palette);
$my-accent: mat.define-palette($secondary-sport-palette);
$my-warn:  mat.define-palette($error-palette);

$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  text : (
    primary: $md-dark-theme-text
  ),
  background: (
    primary: $md-dark-theme-background,
    secondary: $md-dark-theme-surface,
  ),
  on: (
    primary: $md-dark-theme-on-primary,
    secondary: $md-dark-theme-on-secondary,
    background: $md-dark-theme-on-background,
    surface: $md-dark-theme-on-surface,
  ),
  typography: $my-dark-theme-typography ,
  density: 0

));

@include mat.all-component-themes($my-theme);


html,
body {
  height: 100%;
  background-color: $md-dark-theme-background;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
