<app-profile-tab-menu>

</app-profile-tab-menu>

<div class="container">
  <div class="card">
    <form action="">

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="insert your gym name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Praticables</mat-label>
        <input matInput placeholder="insert your gym name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Rules</mat-label>
        <input matInput placeholder="insert your gym name" />
      </mat-form-field>



    </form>
  </div>
</div>
